@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 500px;
    width: 300px;
    overflow: hidden;
    font-size: 9px;
    scrollbar-color: rgba(156, 163, 175, 0.6) rgba(156, 163, 175, 0.6);
    scrollbar-width: thin;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.heading {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

@layer base {
    #root {
        /* dark scheme */
        --color-bkg: 11 13 17;
        --color-accent: 56 61 68;
        --color-primary: 188 194 203;
        --color-secondary: 148 163 184
    }
}

@media (prefers-color-scheme: dark) {
    #root[data-theme="light"] {
        /* light scheme */
        --color-bkg: 194 228 255;
        --color-accent: 125 152 190;
        --color-primary: 30 41 59;
        --color-secondary: 102 117 138;

    }
}
